mongo-url = "mongodb://mongo:27017/?replicaSet=rs0"
elasticsearch-urls = ["http://es:9200"]

# Configuración global
dropped-collections = false
dropped-databases = false
resume = true
resume-name = "monstache-sync"
verbose = true

# Sincroniza colecciones clave
direct-read-namespaces = ["appdb.recipes", "appdb.ingredients", "appdb.users"]

# Mapea cada colección a su índice correspondiente
[[mapping]]
namespace = "appdb.recipes"
index = "recipes"

[[mapping]]
namespace = "appdb.ingredients"
index = "ingredients"

[[mapping]]
namespace = "appdb.users"
index = "users"

# Opcional: transformar documento antes de indexar
# js-pipeline = """
# module.exports = function(doc, ns) {
#   if (ns == 'appdb.products') { doc.search_name = (doc.name || '').toLowerCase(); }
#   return doc;
# }
# """
